<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>CRUD Vue.js</title>
  </head>
  <body>
    <div id="app" class="container mt-5">
      <h3>{{title}}</h3>
      <input
        type="text"
        class="form-control my-3"
        v-model="newTask"
        @keyup.enter="addTask"
      />
      <button class="btn btn-primary" @click="addTask">Agregar</button>

      <div class="mt-3" v-for="task in tasks">
        <div
          role="alert"
          :class="['alert', task.state ? 'alert-success': 'alert-danger']"
        >
          <div class="d-flex justify-content-between align-items-center">
            <div>{{task.description}} - {{task.state}}</div>
            <div>
              <button
                class="btn btn-success btn-sm"
                @click="changeState(task.id)"
              >
                Ok
              </button>
              <button
                class="btn btn-danger btn-sm"
                @click="deleteTask(task.id)"
              >
                X
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
